body {
    margin: 0px;
    padding: 0px;
}
.containerHeader {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 2px solid #000000;
}

.logo {
    height: 120px;
    width: 100%;
    margin-left: 40px;
}

img {
    height: 120px;
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul {
    display: flex;
}
nav a {
    padding: 15px;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}
nav a:hover {
    border-bottom: 3px solid #0000ff;
}
.areaGeral {
    display: flex;
    height: 450px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-around;
    align-items: center;
}
.textGeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 700px;
}
.imgGeral {
    height: 400px;
    width: 500px;
    background-image: url('../assets/images/ramington.webp');
    background-position: center;
    background-size: cover;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
h2 {
    font-family: 'Ephesis', cursive;
    font-size: 40px;
}
p {
    font-family: 'Ephesis', cursive;
    font-size: 30px;
    text-align: justify;
    padding: 15px;
}
.buttonText {
    display: flex;
    justify-content: center;
}
h1, h2, p, .buttonText {
    margin-top: 0px;
    margin-bottom: 0px;
}
input {
    height: auto;
    width: 400px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color:orangered;
    color:#ffffff;
    cursor: pointer;
}
input:hover {
    background-color: rgb(224, 88, 39);
    padding: 15px;
    transition: .2s;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #000000;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
}
footer a {
    text-decoration: none;
    color:#000000;
}
.infDesenvolvedor {
    font-size: 18px;
    margin-right: 20px;
}
.dev {
    display: flex;
    align-items: center;
}
.icons {
    max-width: 50px;
    max-height: 50px;
}
.iconCopy {
    max-width: 15px;
    max-height: 15px;
}
